body {
    background-color: lightgray;
    padding: 10px;
}

button {
    color: rgb(255, 255, 255);
    background-color: cornflowerblue;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

#imagemgoogle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.N-impar {
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

.N-par {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

ul li {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(66, 66, 66);
}