* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-size: 17px;
    background-color: lightgray;
}

hr {
    margin: 30px 0px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type=text], textarea, select {
    padding: 10px;
    width: 500px;
    font-size: 15px;
    border: 1px solid rgb(77, 77, 77);
    outline: 0;
    margin-top: 5;
}

input[type=number] {
    padding: 10px;
    width: 70px;
    font-size: 15px;
    border: 1px solid rgb(77, 77, 77);
    outline: 0;
    margin-top: 5;
}

textarea {
    height: 200px;
    margin-top: 10px;
    resize: none;
}

.termoslink {
    color: black;
    text-decoration: none;
}

button {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid rgb(77, 77, 77);
    color: white;
    background-color: rgb(77, 77, 77);
}

button:hover {
    color: rgb(77, 77, 77);
    background-color: white;
}

fieldset {
    background-color: #eee;
    margin-bottom: 20px;
    border: 2px solid red;
}

legend {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.cadastro {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    background-color: rgb(255, 0, 0);
}

.cadastro:hover{
    border: 2px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
}

table {
    width: 600px;

}

th, td {
    padding: 10px;
    text-align: left;
}

table thead {
    background-color: rgb(51, 51, 51);
    color: white;
}

tbody > tr:hover {
    background-color: darkgrey;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: rgba(0, 183, 255, 0.329);
}

h1 {
    text-shadow: 6px 6px 4px rgb(255, 0, 0);
    font-family: "Betania Patmos In GDL", cursive;
    font-weight: 400;
    font-style: normal;
}

p {
    color: blue;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    
}

.parag {
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 10px;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: brown;
}

a:hover {
    text-decoration: underline;
    color: darkgreen;
}