* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-size: 17px;
    background-color: lightgray;
}

h1 {
    text-shadow: 6px 6px 4px rgb(255, 0, 0);
    font-family: "Betania Patmos In GDL", cursive;
    font-weight: 400;
    font-style: normal;
}

p {
    color: blue;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    
}

.parag {
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 10px;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: brown;
}

a:hover {
    text-decoration: underline;
    color: darkgreen;
}