@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: lightgray;
}

header {
    display: flex;
    justify-content: center;

    height: 120px;
    
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    
    display: flex;
    align-items: center;
    
}

nav ul, nav li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul {
    display: flex;

}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family: Arial, Helvetica, sans-serif;
}

nav .ativo a ,nav a:hover{
    background-color: #e71727;
    color: white;
}

.menumobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.mm_line{
    height: 4px;
    background-color: #e71727;
    border-radius: 30%;
}

#banner {
    display: flex;
    justify-content: center;
    
    background-image: url('imagens/coca-cola-banner.jpg');
    background-position: center;
    background-size: cover;
    height: 770px;
}

.coluna {
    flex-direction: column;
}

.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.banner_headline h2{
    color: white;
    font-size: 25px;
    text-shadow: 5px 5px 5px black, 5px 5px 5px #e71727;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
}

.banner_headline h1 {
    color: white;
    font-size: 50px;
    text-shadow: 5px 5px 5px black, 5px 5px 5px #e71727;
    margin: 0px;
    padding: 0px;
    max-width: 500px;
}

.banner_options{
    height: auto;
    display: flex;
    color: white;
}

.banner1, .banner2, .banner3 {
    flex: 1;
    padding: 20px;

}

.banner1{
    background-color: #ff414d;
}
.banner2{
    background-color: #e71727;
}
.banner3{
    background-color: #9e0c0c;
}

.banner_title{
    font-size: 21px;font-weight: bold;
}
.banner_desc {
    font-size: 15px;
    text-align: justify;
    margin: 10px 0px;
}

.banner3 ul{
    height: 130px;
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-evenly;
    padding: 0px;
}

.banner3 ul li{
    width: 100%;
    list-style-type: none;
    padding: 7px 0px;
    border-bottom:2px solid white;
}

.banner3 ul .sem_linha{
    border: none;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title{
    margin: 30px 0px 20px 0px;
}

.widget_title_text {
    color: black;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #e71727;
    margin-top: 8px;
}

.widget_title_text, .widget_title_bar{
    margin-left: 10px;
}

.widget_body {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    
}

.widget_body div.unidades {
    background-color: #e71727;
    margin: 10px 0px 0px 0px;
    padding: 10px;
    border-radius: 10px;
}

.widget_body div.unidades h4 {
    color: white;
    text-align: center;
    margin: 5px 0px;
}

.widget_body div.unidades img {
    width: 250px;
    background-size: contain;
}

.widget_body_oport {
    margin: 10px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
}

.widget_body_oport form{
    height: 300px;
    background-color: #e71727;
    padding: 5px;
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-evenly;
}

.widget_body_oport form label{
    font-size: 19px;
    font-weight: bold;
}

.widget_body_oport form label input {
    border:2px solid black;
    padding: 4px;
    font-size: 16px;
}

.widget_body_oport form input.botao{
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

.widget_body article {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-content: space-between;
    height: 1000px;
}

.widget_body article div.marcas {
    max-width: 190px;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    background-color: white;
    margin: 5px;
    border-radius: 20px;
}

.widget_body .marcas img {
    width: 70%;
    height: 140px;
    object-fit: contain;
}

.widget_body .marcas p {
    margin: 16px 0px 0px 0px;
    border-top: 5px solid lightgray;
    padding: 16px 5px 5px 5px;
    color: #837C7C;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #161616;
    
}

.footer_menu{
    display: flex;
}

.fm_1, .fm_2, .fm_3 {
    flex: 1;
    color: white;
    padding: 20px;
}

.fm_1{
    background-color: #ff414d;
}

.fm_2{
    background-color: #e71727;
}

.fm_3{
    background-color: #9e0c0c;
}

.footer_area{
    display: flex;
    background-color: #161616;
    
}

.flexcolumn{
    flex-flow: nowrap column;
}

.footer_area_item{
    flex: 1;
    color: white;
}

footer .widget_title_text {
    color: white;
}

footer ul li{
    margin-top: 15px;
    
}

footer ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
}

footer ul li img {
    width: 30px;
    background-size: contain;
    margin-right: 10px;
}

footer ul li.tel_coca img{
    background-color: white;
    padding: 2px;
    border-radius: 50%;
}

footer ul li.whats_coca a img{
    background-color: white;
    
    border-radius: 50%;
    
}

footer ul li.insta_coca a img {
    border-radius: 8px;
}

footer ul li a:hover {
    color: #e71727;
}

.footer_copy {
    border-top: 2px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

@media(max-width:600px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 5%;
    }
    
    .logo{
        margin-bottom: 10px;
    }

    .menumobile {
        display: flex;
        flex-flow: nowrap column;
        justify-content: space-around;
    }
    
    .banner_headline h2 {
        font-size: 21px;
    }
    .banner_headline h1 {
        font-size: 41px;
    }

    .banner_options{
        height: auto;
        display: flex;
        flex-direction: column;
        color: white;
    }

    .container{
        flex-direction: column;
    }

    #geral section {
        padding: 20px;
    }

    article{
        height: 1200px;
        margin-bottom: 50px;
    }

    section #produtos{
        height: auto;
        margin-bottom: 60px;
    }

    #geral aside {
        padding: 50px;
    }

    div.widget_title {
        display: flex;
        flex-flow: nowrap column;
        align-content: center;
        flex: 1;
    }

    .widget_title .widget_body_oport{
        display: flex;
        flex-flow: nowrap column;
        align-items: center;
        width: 100%;
    }

    .widget_title .widget_body_oport form {
        border-radius: 10px;
    }

    .footer_menu{
        flex-direction: column;
    }

    .footer_area{
        flex-direction: column;
        padding: 20px;
    }

    .footer_copy{
        padding: 20px;
    }

    header {
        height: auto;
    }

    header .container{
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
    }

}