/*

.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
}


*/

*, img, div{
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ffdb7e;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  
}

div img{
  background-color: black;
  width: 75px;
}

body {
  background-image: url(imagens/Fundo\ de\ favo.pn);

}