/*

.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
}


*/

*, img, div{
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ffdb7e;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  
}

body {
  background-image: url(imagens/);
  background-repeat: repeat-x;
}

header{
  background-color: aqu;
  border:1px solid red;
  width: 80vw;
  height: 650px;
  margin: auto;
}
