/*

.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
}


*/

*, img, div{
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #EC4E20;

  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  
}

body {
  background-image: url(imagens/);
  background-repeat: repeat-x;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header{
  background-image: linear-gradient(to bottom, #010100, #593313, #A8692B, #C85C07, #D6841D, #E3A449 );

  background-image: url(imagens/banner.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  
  width: 80vw;
  height: 650px;
}

.menu {
  display: flex;
  flex-flow: wrap nowrap;
  justify-content: space-betwee;
  
  width: 100%;
}

.logo {
  width: 200px;
  
  padding: 70px 10px 10px 10px;
  
  border-radius: 0px 0px 50% 50%;
  background-image: linear-gradient(to left bottom , #EC4E20, #E65100, #FF851B, #FF9E00, #FFC300);
}

.espac {
  
  width: 200px;
  height: 100px;
  background-color: white;
  
}

.logo img{
  width: 200px;
  display: flex;
  
  
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #EC4E20, #E65100, #FF851B, #FF9E00, #FFC300);
  height: 100px;
  width: 100%;
  padding-right: 100px;
}

nav ul{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  
  
}

nav ul li {
  font-size: 25px;
  padding: 20px 20px;
  
  border-left: 2px solid black;
  
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.abahome {
  border: none;
}

main{
  
  background-image: url(imagens/melCaindo.png), url(imagens/Fundo\ de\ favo.png) ;
  background-repeat: repeat-x, repeat;
  width: 80vw;
  
}

.melcaindo {
  float: inline-start;
  background-image: url(imagens/melCaindo.png) ;
  background-position: center top;
  background-repeat: repeat-x;
  width: 120px;
  height: 219px;
}

section.itens {
  display: flex;
  
  justify-content: space-around;
  align-content: space-between;
  flex-flow: row wrap;
  margin-top: 110px;
}

article.melprodutos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 300px;
  height: 380px;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
}



.produtos {
  background-image: linear-gradient(to bottom right, #EC4E20, #E65100, #FF851B, #FF9E00, #FFC300);
  width: 300px;
  height: 380px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 10px;
}

.produtos:hover {
  background-image: linear-gradient(to bottom right,#FFC300 ,  #FF9E00, #FF851B, #E65100, #EC4E20);
  
  
}

article.melproduts:hover {
  background-image: linear-gradient(to bottom right,#FFC300 ,  #FF9E00, #FF851B, #E65100, #EC4E20);
  
}

section div.produtos h3 {
  color: white;
  font-size: 22px;
  text-align: center;
}

section div.produtos p {
  color: rgb(0, 0, 0);
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  text-align: justify;
  padding: 0px 20px;
}

section div.produtos h3.preco {
  color: black;
  background-color: white;
  padding: 5px;
  align-self: flex-end;
  border-radius: 9px 0px;
  float: inline-end;
  
}

.fotoproduto {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  border: 3px solid white;
  border-radius: 20px 0px;
}

.sobrenos {
  background-image: linear-gradient(to top right, #EC4E20, #E65100, #FF851B, #FF9E00, #FFC300, #FF9E00, #FF851B, #E65100, #EC4E20);

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.processo {
  margin-top: 30px;
}

.producao {

  width: 400px;
}

.textohist{
  width: 80%;
}
.sobrenos p {
  margin: 20px;
  text-align: justify;
  
}

.contato {
  background-image: url(imagens/colher-com-mel.webp);
  background-repeat: no-repeat;
  background-position: center center;

   background-image: url(imagens/colher-com-mel.webp), linear-gradient(to top left, #EC4E20, #E65100, #FF851B, #FF9E00, #FFC300, #FF9E00, #FF851B, #E65100, #EC4E20);

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 400px;
}

.contato h2 {
  padding: 10px 0px;
  font-weight: bolder;
  
}

form {
  border: 1px solid black;
  padding: 15px;
}

input {
  margin: 10px 0px;
  padding: 5px;
  height: 30px;
  font-size: 20px;
  border-radius: 10px;
  border:2px solid white;
  transform: none;
  background-color: #e3a34996;
}

#email {
  width: 500px;
}

footer.dadosmel {
  width: 100%;
  height: 300px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding-top: 30px;
  color: white;
  background-color: black;
}

footer.desenvolvedor {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

